
@(cookies: Seq[String])

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <script>
            console.log("current cookie : " + document.cookie)
        </script>
        <p>ログアウト中...</p>
        @for(c <- cookies) {
            <script>
                var deleteCookie = "@c";
                var expires      = new Date('1970-01-01T00:00:00Z');

                console.log("cookie : " + deleteCookie)

                document.cookie = deleteCookie + "=;max-age=0";
                document.cookie = deleteCookie + "=;expires=" + expires.toGTMString();
            </script>
        }
        <script>
            setTimeout(function() { location.href = "/"; }, 3000)
        </script>
    </body>
</html>
